Source: pjproject
Section: comm
Priority: optional
Maintainer: Tzafrir Cohen <tzafrir@debian.org>
Build-Depends: debhelper (>= 8),
 libspeex-dev, libspeexdsp-dev,
 portaudio19-dev,
 libgsm1-dev,
 uuid-dev,
 libsrtp0-dev,
 libssl-dev
Standards-Version: 3.9.3
Homepage: http://www.pjsip.org/
Vcs-Git: git://anonscm.debian.org/pkg-voip/pjproject.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-voip/pjproject.git

Package: libpjlib-util2
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: PJ Project - helper utilities
 PJSIP (a.k.a PJProject) is a multimedia communication library written
 in C language implementing standard based protocols such as SIP, SDP,
 RTP, STUN, TURN, and ICE. It combines signaling protocol (SIP) with rich
 multimedia framework and NAT traversal functionality into high level API
 that is portable and suitable for almost any type of systems ranging
 from desktops, embedded systems, to mobile handsets.
 .
 This package includes helper utilities for the PJ Project libraries.

Package: libpjmedia-audiodev2
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: PJ Project - Audio devices
 PJSIP (a.k.a PJProject) is a multimedia communication library written
 in C language implementing standard based protocols such as SIP, SDP,
 RTP, STUN, TURN, and ICE. It combines signaling protocol (SIP) with rich
 multimedia framework and NAT traversal functionality into high level API
 that is portable and suitable for almost any type of systems ranging
 from desktops, embedded systems, to mobile handsets.
 .
 This package includes an audio devices handling library.

Package: libpjmedia-codec2
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: PJ Project - Multimedia codecs handling
 PJSIP (a.k.a PJProject) is a multimedia communication library written
 in C language implementing standard based protocols such as SIP, SDP,
 RTP, STUN, TURN, and ICE. It combines signaling protocol (SIP) with rich
 multimedia framework and NAT traversal functionality into high level API
 that is portable and suitable for almost any type of systems ranging
 from desktops, embedded systems, to mobile handsets.
 .
 This package includes a multimedia codecs handling library.

Package: libpjmedia-videodev2
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: SIP handling library - video devices
 PJSIP (a.k.a PJProject) is a multimedia communication library written
 in C language implementing standard based protocols such as SIP, SDP,
 RTP, STUN, TURN, and ICE. It combines signaling protocol (SIP) with rich
 multimedia framework and NAT traversal functionality into high level API
 that is portable and suitable for almost any type of systems ranging
 from desktops, embedded systems, to mobile handsets.
 .
 This package includes a video devices handling library.

Package: libpjmedia2
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: PJ Project - VoIP media
 PJSIP (a.k.a PJProject) is a multimedia communication library written
 in C language implementing standard based protocols such as SIP, SDP,
 RTP, STUN, TURN, and ICE. It combines signaling protocol (SIP) with rich
 multimedia framework and NAT traversal functionality into high level API
 that is portable and suitable for almost any type of systems ranging
 from desktops, embedded systems, to mobile handsets.
 .
 This package includes a VoIP media handling library.

Package: libpjnath2
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: PJ Project - NAT handling
 PJSIP (a.k.a PJProject) is a multimedia communication library written
 in C language implementing standard based protocols such as SIP, SDP,
 RTP, STUN, TURN, and ICE. It combines signaling protocol (SIP) with rich
 multimedia framework and NAT traversal functionality into high level API
 that is portable and suitable for almost any type of systems ranging
 from desktops, embedded systems, to mobile handsets.
 .
 This package includes a NAT handling library.

Package: libpjsip-simple2
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: PJ Project - SIP SIMPLE instant messaging
 PJSIP (a.k.a PJProject) is a multimedia communication library written
 in C language implementing standard based protocols such as SIP, SDP,
 RTP, STUN, TURN, and ICE. It combines signaling protocol (SIP) with rich
 multimedia framework and NAT traversal functionality into high level API
 that is portable and suitable for almost any type of systems ranging
 from desktops, embedded systems, to mobile handsets.
 .
 This package includes a SIP SIMPLE Instant Messaging library.

Package: libpjsip-ua2
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: SIP handling library - SIP user agent library
 PJSIP (a.k.a PJProject) is a multimedia communication library written
 in C language implementing standard based protocols such as SIP, SDP,
 RTP, STUN, TURN, and ICE. It combines signaling protocol (SIP) with rich
 multimedia framework and NAT traversal functionality into high level API
 that is portable and suitable for almost any type of systems ranging
 from desktops, embedded systems, to mobile handsets.
 .
 This package includes a SIP user agent handling library

Package: libpjsip2
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: PJ Project - SIP handling library
 PJSIP (a.k.a PJProject) is a multimedia communication library written
 in C language implementing standard based protocols such as SIP, SDP,
 RTP, STUN, TURN, and ICE. It combines signaling protocol (SIP) with rich
 multimedia framework and NAT traversal functionality into high level API
 that is portable and suitable for almost any type of systems ranging
 from desktops, embedded systems, to mobile handsets.
 .
 This package includes a SIP handling library.

Package: libpjsua2
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: PJ Project - Basic VoIP client library
 PJSIP (a.k.a PJProject) is a multimedia communication library written
 in C language implementing standard based protocols such as SIP, SDP,
 RTP, STUN, TURN, and ICE. It combines signaling protocol (SIP) with rich
 multimedia framework and NAT traversal functionality into high level API
 that is portable and suitable for almost any type of systems ranging
 from desktops, embedded systems, to mobile handsets.
 .
 This package includes a framework for a VoIP client.

Package: libpj2
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: PJ Project - PJProject core libraries
 PJSIP (a.k.a PJProject) is a multimedia communication library written
 in C language implementing standard based protocols such as SIP, SDP,
 RTP, STUN, TURN, and ICE. It combines signaling protocol (SIP) with rich
 multimedia framework and NAT traversal functionality into high level API
 that is portable and suitable for almost any type of systems ranging
 from desktops, embedded systems, to mobile handsets.
 .
 This package includes the PJ Project core libraries.

Package: libpjproject-dev
Architecture: any
Section: libdevel
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: PJ Project - development headers
 PJSIP (a.k.a PJProject) is a multimedia communication library written
 in C language implementing standard based protocols such as SIP, SDP,
 RTP, STUN, TURN, and ICE. It combines signaling protocol (SIP) with rich
 multimedia framework and NAT traversal functionality into high level API
 that is portable and suitable for almost any type of systems ranging
 from desktops, embedded systems, to mobile handsets.
 .
 This packagee includes the development headers for PJ Project.
