#!/usr/bin/make -f

export CFLAGS:=$(shell dpkg-buildflags --get CPPFLAGS; dpkg-buildflags --get CFLAGS)
# export _CXXFLAGS includes $(_CFLAGS)
#CXXFLAGS:=$(shell dpkg-buildflags --get CPPFLAGS; dpkg-buildflags --get CXXFLAGS)
export LDFLAGS:=$(shell dpkg-buildflags --get LDFLAGS)

# FIXME: the explicit and duplicate 'build' target is because of the
# existing directory 'build'. .PHONY doesn't seem to be good enough with
# the wildcard target. Any better way?
%:
	dh $@ --with autotools_dev,python2
build:
	dh $@ --with autotools_dev,python2

# In case it would be needed:
#override_dh_autoreconf:
#	dh_autoreconf autoconf aconfigure.ac >aconfigure

override_dh_auto_clean:
	# Handle the case where the source tree is not configured.
	if test -f build.mak; then make distclean; fi

override_dh_auto_configure:
	cp debian/config_site.h pjlib/include/pj/
ifneq (,$(wildcard third-party/ilbc/iLBC_decode.c))
	# Sanity check for one of the third party libraries we need to
	# remove from the source tree
	@echo "iLBC was not removed. Exiting"; exit 1
endif
	dh_auto_configure -- --enable-shared \
		--disable-g7221-codec --disable-ilbc-codec --disable-resample \
		--with-external-gsm --with-external-speex --with-external-pa \
		--with-external-srtp --enable-video

override_dh_auto_build:
	dh_auto_build -- dep all
	#pybuild -d pjsip-apps/src/python

# selftest target takes too long. Parts of it may also require hardware.
# Don't enable it by default. Allow running it manually.
#override_dh_auto_test:
run-tests:
	LD_LIBRARY_PATH=`echo $$PWD/*/lib | tr ' ' :` make selftest

PC_FILE=$(CURDIR)/debian/tmp/usr/lib/*/pkgconfig/libpjproject.pc
override_dh_auto_install:
	dh_auto_install
	# Disable it for now. This will wait (and be done properly) in
	# later versions:
	#pybuild -d pjsip-apps/src/python --install
	# FIXME: the proper fix is in the generation of libpjproject.pc.in:
	# PJ_INSTALL_CXXFLAGS (which is basically CFLAGS) should not be used
	# as-is. Maybe it should just be avoided and a hand-crafted set
	# of build flags should be used. But for now let's edit out harmful
	# flags:
	sed -i \
		-e "s|$$CFLAGS||" -e "s|$$CPPFLAGS||" -e 's|-fPIC||' \
	       	$(PC_FILE)

.PHONY: build
